<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"/>
</head>
<body>
<h1 align="center">Chart Data on Hydra growth per service</h1>
<div style="height: 100vh; width: 100vw; max-height: 100vh;max-width: 100vw;">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart');
    var host = window.location.origin;
    fetch(host + '/data')
        .then((resp) => resp.json())
        .then((data) => {
            console.debug(data);
            var myChart = new Chart(ctx, {
                title: 'Hydra DB Growth over time in MB',
                type: 'line',
                data: {
                    datasets: data
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'minute'
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
        });
</script>
</body>
</html>